# Ignore all node_modules directories (frontend & backend)
node_modules/

# Ignore build and deployment directories
build/
dist/
.vercel/
.public/

# Ignore sensitive and config files
.env
.env.*
firebase-service-account.json

# Ignore logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore editor and system files
.vscode/
.idea/
*.DS_Store
Thumbs.db

# Ignore temp files
*.swp
*.swo
*.bak
*.tmp
